@charset "UTF-8";

/*
    Paleta de Cores:
    Cor001: #F2A7D0
    Cor002: #D98FBF
    Cor003: #9368A6
    Cor004: #5A86BF
    Cor005: #6B98BF
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #9368A6;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.281);
}

section#login > div#imagem {
    display: block;
    background: #5A86BF url(../imagens/paisagem.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}